form {
    margin-left: 1rem;
    margin-top: 1rem;
    margin-right: 1rem;
}

h3.titulo {
    margin-left: 35%;
    font-family: 'Lobster', cursive;
}

#valor_total{
    color: cadetblue;
    font-weight: bold;
    padding-top: 5px;
}